Django==4.2.19
Pillow==11.1.0
django-crispy-forms==2.3
crispy-bootstrap4==2024.10
django-allauth==65.3.1
django-countries==7.6.1
python-decouple==3.8
dj-database-url==2.1.0
reportlab==4.2.5
xhtml2pdf==0.2.16
weasyprint==63.1
google-auth==2.37.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-core==2.24.0
google-api-python-client==2.108.0  # Updated from 1.7.11 to resolve conflict
googleapis-common-protos==1.66.0
google-cloud-secret-manager==2.22.1
requests==2.32.3
urllib3==2.3.0
python-http-client==3.3.7
cryptography==44.0.0
PyJWT==2.10.1
qrcode==8.0
asgiref==3.8.1
sqlparse==0.5.3
tzdata==2024.2
whitenoise
gunicorn
psycopg2-binary
